.quran-page {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    text-align: center;
    direction: rtl;
}

.quran-page .quran-title {
    margin: 20px 10px;

}
.quran-page .surah {
    border-bottom: 1px solid #eee;
    padding: 20px 25px;
    font-weight: bold;
}