.bottomNav {
    box-shadow: 0px -1px 20px #aaa;
    z-index: 1;
}

.bottomNav div {
    flex: 1;
    text-align: center;
    padding: 12px 10px;
    color: black;
}

.bottomNav div .link {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
